body {
    background-color: #200f21;
    color: #382039;
	font-size: 1.5rem;
	font-family: "Major Mono Display", monospace;
}

div[class^="row-"] {
	display: flex;
	justify-content: center;
	align-items: center;
}

span[class^="col-"] {
	width: 2rem;
	height: 2rem;
	text-align: center;
}
